@import '../variables';

.contacts {
	padding: 30px 0 60px;

	& > .container {
		padding: 0 32px;
	}

	// .contacts__main-title
	&__main-title {
		font-weight: 600;
		font-size: 25.8675px;
		margin: 0 0 15px 0;
	}

	// .contacts__txt
	// &__txt {
		
	// }

	// .contacts__title
	&__title {
		font-weight: 600;
		font-size: 14.7815px;
		margin: 0 0 10px 0;
	}

	// .contacts__links
	&__links {
		margin: 0 0 25px 0;

		& > a {
			text-decoration: none;
			display: block;
		}

		&:first-child {
			margin: 0 0 4px 0;
		}
	}
}

@media screen and (min-width: 1040px) {
	.contacts {
		padding: 70px 0 90px;
	
		& > .container {
			max-width: 800px;
		}
	
		// .contacts__main-title
		&__main-title {
			font-size: 35px;
		}
	
		// .contacts__txt
		&__txt {
			
			&:nth-child(2) {
				margin: 0 0 35px 0;
			}
		}

		// .contacts__title
		&__title {
			font-size: 20px;
			margin: 0 0 15px 0;
		}

		// .contacts__links
		&__links {
			margin: 0 0 25px 0;
	
			& > a {
				text-decoration: none;
				display: block;
			}
	
			&:first-child {
				margin: 0 0 4px 0;
			}
		}
	}
}