<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">


<div layout:fragment="main-content">

    <section class="about-author">
        <div class="container">

            <h5 class="main-title about-author__title text-center">
                Mimi ilnitskaya
            </h5>

            <div class="row about-author__row gy-2 gy-md-0 gx-md-2">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="row g-2">
                        <div class="col-3 col-sm-4 col-md-4 col-lg-3">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi1.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                        <div class="col-3 col-sm-4 col-md-4 col-lg-3">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi2.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-6">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi3.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="row g-2">
                        <div class="col-3 col-sm-4 col-md-4 col-lg-4">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi4.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                        <div class="col-3 col-sm-4 col-md-4 col-lg-4">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi5.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="about-author__img rounded-img">
                                <img src="img/mimi6.png" alt="mimi ilnitskaya image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-author__bttm">
                <p class="about-author__txt">
                    <span class="about-author__txt_name">Мария Ильницкая</span> — художник, иллюстратор из Алматы. Рассказала, как пришла к творчеству,
                    где находит вдохновение и какие сложности есть у представителей искусства в Казахстане.
                </p>
                <p class="about-author__txt">
                    Мария Ильницкая, <span class="about-author__txt_bold">34 года</span>, город — Алматы, художник, иллюстратор, <a href="#" class="about-author__txt_bold">@mimi.ilnitskaya</a>
                    Я художница, иллюстратор и владелица небольшого бренда Mimi Ilnitskaya.
                </p>
                <p class="about-author__txt">
                    Мне с детства пророчили творческий путь. Поэтому учиться на художницу я начала с седьмого класса.
                    Долгий путь обучения в КазНАИ, а потом в КазГАСА привели меня к рекламному бизнесу.
                    В этой индустрии я попробовала себя в роли коммерческого иллюстратора. И по сей день занимаюсь этим делом.
                    Мое творчество — это дневник жизни! Все, что я переживаю в каждый момент, все мои реакции,
                    влюбленности, смена места жительства — отражаются в иллюстрациях.
                </p>
                <p class="about-author__txt">
                    Уловить вдохновение можно от всего: песни, разговора, знакомства, природы, кинокартины или аниме.
                    Как только ты уловил отклик внутри себя, как только почувствовал свою интерпретацию или реакцию — самое время садиться и творить.
                    У меня много проектов — они любят меня, а я обожаю их! Для своего бренда я запускаю капсульный дроп одежды по январским событиям,
                    где будет всего <span class="about-author__txt_bold">100</span> единиц. Но если сложить все вещи коллекции, мы получим один рисунок. Это интерпретация одного события,
                    которое коснулось сразу многих.
                    Для клиентов, мы с командой готовим участие в трех ивентах.
                    Это три добрых праздника, которые растянутся на весь теплый период, на несколько городов и
                    напомнят всем, как прекрасно, когда мы есть друг у друга.
                </p>
            </div>

        </div>
    </section>


</div>
</html>