<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">


<div layout:fragment="main-content">

    <section class="collab">
        <div class="container">

            <div class="collab__inner-wrap">

                <div class="collab__item">

                    <div class="collab__row row gx-2 gx-lg-4">
                        <div class="col-6 col-md-3 col-lg-6">
                            <div class="collab__img rounded-img">
                                <img src="img/collab1.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab2.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab1.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab3.png" alt="collaboration image">
                            </div>
                        </div>
                    </div>

                    <div class="collab__bttm">
                        <h6 class="collab__title">
                            ISSYK WINE CIDER
                        </h6>
                        <p class="collab__txt">
                            Завод ISSYK WINE находится в Казахстане у подножья Тянь-Шаньского хребта. Именно здесь произрастают яблони Сиверса, которые стали прародителями всех яблок на нашей планете.
                            Именно из этих яблок создали сидр: сухой, дикий, нефильтрованный, а также один сорт сладкий. <br> <br>
                        </p>
                        <p class="collab__txt2">
                            Компания давно создавала сидр на своем заводе, к художнице Мими Ильницкой они обратились чтобы придать этому напитку лицо страны происхождения. Это был этап ребрендинга для большей узнаваемости сидра.
                            На все три вида дистиллята Мими создала трех персонажей, отражающих характер напитка:<br>
                            Милая девушка — сладкий сорт сидра, <br>
                            Молодой парень евразийской внешности — задор дикого сидра,<br>
                            Взрослый мужчина в почитаемом возрасте, но на байке — сухой дикий сидр бренда.<br>
                            Надпись Wild Kazakh Cider была предложена художницей на уровне эскиза. В дальнейшем она так и осталась на всех этикетках сидра, который разлетается как сувенир из Казахстана по всем странам. Коллаборация имеет большой успех у почитателей завода ISSYK WINE и новых покупателей.
                            Идеальный тандем качественного продукта и полного доверия к вкусу художницы.
                        </p>
                    </div>

                </div>

                <div class="collab__item">

                    <div class="collab__row row gx-2 gx-lg-4">
                        <div class="col-6 col-md-3 col-lg-6">
                            <div class="collab__img rounded-img">
                                <img src="img/collab5.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab6.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab7.png" alt="collaboration image">
                            </div>
                        </div>
                        <div class="col-2 col-md-3 col-lg-2">
                            <div class="collab__img rounded-img">
                                <img src="img/collab8.png" alt="collaboration image">
                            </div>
                        </div>
                    </div>

                    <div class="collab__bttm">
                        <h6 class="collab__title">
                            BORJOMI
                        </h6>
                        <p class="collab__txt">
                            Коллаборация Мими Ильницкой и крупнейшего производителя природной минеральной воды — Borjomi, лидера в категории природных бутылированных вод в СНГ и странах Балтии.
                            Компания самой известной воды на территории СНГ взяла курс на раскрытие этнической принадлежности уникальной воды и ее региона. <br>
                            К самому значимому весеннему празднику Наурыз, Мими Ильницкая и бренд Borjomi в 2021 году запустили совместную коллаборацию,
                            в которой раскрыли образ нео-номада, кочевника, облаченного в одежду Мими из серии ЭТНОШИК. Эта совместная работа имела большой успех.<br>
                            В 2022 году к празднику Наурыз вышла лимитированная серия украшений. Художница создала из символов с айдентики Borjomi и орнаментов кочевников украшения для кос.
                            Шолпы — такое название носят уникальные аксессуары восточных красавиц. Лимитированная коллекция была отправлена в боксах инфлюенсерам из Казахстана. Помимо шолп, в боксе была картина, которую художница создала специально к данному празднику.
                            Публика и любители этники были в восторге от такого перепрочтения исторического аксессуара
                        </p>


                    </div>

                </div>

            </div>


        </div>
    </section>


</div>
</html>