<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">


<div layout:fragment="main-content">

    <section class="contacts">
        <div class="container text-center">
            <h5 class="main-title contacts__main-title">
                Контакты
            </h5>
            <p class="main-sm-txt contacts__txt">
                Для связи с автором Mimi Ilnitskaya по предложениям о сотрудничестве
                и взаимодействии с вашим брендом в коллаборации свяжитесь с менеджером
            </p>
            <div class="contacts__links">
                <h6 class="contacts__title">
                    Номер
                </h6>
                <a href="tel:+77071011479" class="contacts__txt main-sm-txt">
                    +7 707 101 1479
                </a>
            </div>
            <p class="main-sm-txt contacts__txt ">
                Свяжитесь с нами, если вы хотите выслать своё профессиональное портфолио
                на рассмотрение для нашей растущей креативной команды:
            </p>
            <div class="contacts__links">
                <h6 class="contacts__title">
                    Электронная почта
                </h6>
                <a href="mailto:managermimi2022@gmail.com" class="contacts__txt main-sm-txt">
                    managermimi2022@gmail.com
                </a>
            </div>
        </div>
    </section>


</div>
</html>