<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin_main.html">


<div layout:fragment="main-content" style="margin-left: 0px">
    <div class = "row">
        <div class = "col-sm-3" style="background-color: #e9ecef;height: 800px">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>ADMIN PANEL</p>
                    <p><a href="/usersPage" sec:authorize="hasAnyRole('ROLE_ADMIN')">Пользователи</a></p>
                    <p><a href="/rolesPage" sec:authorize="hasAnyRole('ROLE_ADMIN')">Роли</a></p>
                    <p><a href="/adminPage" sec:authorize="hasAnyRole('ROLE_ADMIN')">Страны</a></p>
                    <p><a href="/brand_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">Коллекция</a></p>
                    <p><a href="/item_page" sec:authorize="hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')">Товары</a></p>
                    <p><a href="/category_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">Категории</a></p>
                    <p><a href="/size_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">Размеры</a>
                    <p><a href="/color_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">Цвета</a>
                    <p><a href="/banner_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">Баннеры</a>
                    <p><a href="/itemsBasket_page" sec:authorize="hasAnyRole('ROLE_ADMIN')">История заказов</a></p>
                </div>
            </div>
        </div>
        <div class = "col-sm-9" style="background-color: white">
            <div class="card"style="width: 900px;border: none;margin-top: 50px;">
                <h5 class="card-header" style="background-color: white">Страна
                </h5>
                <div class="card-body">
                    <form th:action="@{'/edit_country'}" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="id" th:value="${country.id}">
                            <div class="form-group">
                                <label>Наименование:</label>
                                <input type="text" class="form-control" name="country_name" th:value="${country.getName()}"  >
                            </div>
                            <div class="form-group">
                                <label >Код:</label>
                                <input type="text" class="form-control" name="code" th:value="${country.getCode()}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Редактировать</button>
                            <a th:href="@{'deleteCountry?id='+${country.getId()}}" type="button" class="btn btn-danger" >Удалить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>